{{ ansible_managed | comment }}

port {{ server_port }}
proto udp
dev tun
ca /etc/openvpn/server/{{ service_name }}/ca.crt
cert /etc/openvpn/server/{{ service_name }}/server.crt
key /etc/openvpn/server/{{ service_name }}/server.key
dh /etc/openvpn/server/{{ service_name }}/dh.pem
topology subnet
server {{ server_subnet }}
ifconfig-pool-persist {{ service_name }}/ipp.txt
keepalive 10 120
tls-auth /etc/openvpn/server/{{ service_name }}/ta.key 0
cipher AES-256-CBC
user nobody
group {{ openvpn_group }}
persist-key
persist-tun
status {{ service_name }}/openvpn-status.log
verb 3
explicit-exit-notify 1
client-config-dir /etc/openvpn/server/{{ service_name }}/ccd
remote-cert-eku "TLS Web Client Authentication"

{{ extra_conf }}